// Adobe Fonts Import for aleksituompo.fi
@import url("https://use.typekit.net/zlz8ydl.css");

// Font.
$font: (
  primary: ("freight-display-pro", sans-serif),
  secondary: ("freight-big-pro", serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          lighten(#5e5e5e, 25%),
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #323232,
  accent-red:    #a51c30
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";

// aleksituompo.fi Custom CSS

.site-header { display: none !important; }

.post-content {
  font-size: 1.6em; 
}

@media only screen and (max-width: 600px) {
  .post-content {
  font-size: 1.2em; 
  }
}

.btn-back {
  font-family: "ff-dagny-web-pro", sans-serif; 
}

.published {
  font-family: "ff-dagny-web-pro", sans-serif;
}

.post-excerpt {
  font-family: "ff-dagny-web-pro", sans-serif;
}
