// Adobe Fonts Import for aleksituompo.fi
@import url("https://use.typekit.net/zlz8ydl.css");

// Font.
$font: (
  primary: ("freight-display-pro", sans-serif),
  secondary: ("freight-big-pro", serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          lighten(#5e5e5e, 25%),
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #323232,
  accent-red:    #a51c30
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";

// aleksituompo.fi Custom CSS

.site-header, .social-links { display: none !important; }
  
.post-content {
  font-size: 1.6em; 
}

@media only screen and (max-width: 600px) {
  .post-content {
  font-size: 1.4em; 
  }
}

a.btn-back {
  font-family: "ff-dagny-web-pro", sans-serif; 
  float: right;
  font-size: 0.9em;
  border-bottom: 2px solid rgba(94,250,250,0.4);
}

a.btn-back:hover {
  border-bottom: 2px solid rgba(94,250,250,1);
}

.published {
  font-family: "ff-dagny-web-pro", sans-serif;
}

.post-excerpt {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-size: 1.1em;
}

.post-subtitle {
  font-family: "ff-dagny-web-pro", sans-serif;
}

.site-info {
  font-family: "ff-dagny-web-pro", sans-serif;
  text-transform: none;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
}

.site-info a, site-info a:hover {
  border-bottom: none !important;
}

